/* Sætter box-sizing til alle elementer */
* {
    box-sizing: border-box;
  }
  
  /* Styling af body-elementet */
  body {
    margin: 0px;
    background-color: #BC012C;
    font-family: "helvetica", sans-serif;
    padding: 0;
  }
  
  h1 {
    display: flex;
    justify-content: center;
  }
  
  html {
    scroll-behavior: smooth;
  }

/* Gør body og html til flex-container */
html, body {
  height: 100%; 
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Gør at main tager al ledig plads */
main {
  flex: 1;
}

/* Footer */
footer {
  width: 100%;
  background-color: #000;
  color: #BC012C;
  padding: 20px 0;
}