/* Styling for header-titel */
header h1 {
    font-size: 3.5rem;
}

/* Styling for hovedcontainer */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

/* Styling for kurv tabel og knapper */
section #cartTable #totalSum #placeOrderButton  {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #BC012C; 
    color: #000; 
}

/* Styling for sektion overskrifter */
section h2, section h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

/* Styling for kurv tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

/* Styling for tabeloverskrifter */
thead th {
    font-size: 1.6rem;
    text-align: left;
    padding: 10px;
    color: #000; 
    border-bottom: 1px solid #000;
}

/* Styling for tabelindhold */
tbody td {
    font-size: 1.4rem;
    padding: 8px;
    border-bottom: 1px solid #000;
    color: #000;
}

/* Styling for knappen til at afgive ordre */
button#placeOrderButton {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #FFD7EF;
    font-size: 1.6rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effekt for knappen til at afgive ordre */
button#placeOrderButton:hover {
    background-color: #45a049; /* Mørkere grøn ved hover */
}
