/* Forside billede styling */
.forside-image {
    width: 40%; /* Gør billedet mindre, så det passer til venstre side */
    height: auto;
    margin: 20px 0 20px 20px; /* Giver luft omkring billedet, tilføjer luft til venstre */
    float: left; /* Placerer billedet til venstre */
    object-fit: contain; /* Sikrer, at billedet bevarer proportionerne */
    border-radius: 15px;
}

/* Introduktion sektion */
.intro-section {
    display: flex;
    align-items: center;
    padding: 20px;
}

.intro-text {
    max-width: 50%; /* Begrænser bredden af tekstboksen */
    margin-left: 90px; /* Øger afstanden fra billedet for at flytte teksten mere til højre */
    text-align: center; /* Sørger for teksten er venstrejusteret */
}

.intro-text h1 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 40px;
}

.intro-text p {
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #45a049;
}

/* Vission & Mission sektion */
.vissionogmission {
    text-align: center;
    color: #fff;
    padding: 40px 20px;
    max-width: 1100px;
    margin: 0 auto 60px auto;
    clear: both; 
}

/* Flexbox for billederne */
.vissionogmission-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vissionogmission-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.vissionogmission-image {
    width: 48%; 
    height: auto;
    max-height: 300px; 
    object-fit: contain;
}

.vissionogmission h2 {
    font-size: 2.2em;
    margin-bottom: 15px;
    color: #fff;
}

.vissionogmission p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #fff;
}

/* Bæredygtighed sektion */
.sustainability {
    text-align: center;
    padding: 40px 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.sustainability-text {
    max-width: 800px;
    margin: 0 auto 20px auto;
    color: #fff;
}

.sustainability h3 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #fff;
}

.sustainability p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #fff;
}

.sustainability-image {
    width: 50%;
    height: auto;
    max-width: 1000px;
    object-fit: contain;
    margin: 20px auto;
    display: block;
    border-radius: 15px;
}
