/* Styling for billedrækken */
.image-row {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

/* Styling for hver måltidskasse */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin: 10px;
    text-align: center;
    height: 400px;
    justify-content: space-between;
}

.image-container img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.image-container h3 {
    margin: 10px 0 5px 0;
    font-size: 20px;
}

.image-container p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
}

/* Justering af knapperne for at sikre, at de er på linje */
.cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.cta-button:hover {
    background-color: #45a049;
}
