img[alt="maskot"]  {
    margin-top: 30px; /* Tilføjer luft mellem billedet og navbaren */
}

.navbar-icons {
    display: flex;
    justify-content: space-between; 
    align-items: center; /* Vertikalt centrerer elementerne */
    gap: 10px; /* Tilføjer afstand mellem "Kurv" og "Bliv kunde / Login" */
}

.navbar-icons a {
    text-decoration: none; /* Sørger for at links ikke får understregning */
    color: black; /* Standard farve for links */
}

.navbar-icons img {
    width: 40px; /* Juster størrelse på "Kurv" ikonet, hvis nødvendigt */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #000; 
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049; 
}

.button-container {
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 60px; /* Tilføj mere luft under knappen */
}

button.tilbage {
    color: #000;
    padding:10px 20px;
    margin:20px 400px;
    color: #fff;
}

.bestilling {
    display: flex;
    justify-content: center;
    color:#000 ;
    margin: 30px;
}

a {
    display: flex;
    justify-content: center;
}