/* Styling for maskotbilledet */
img[alt="maskot"] {
    margin-top: 30px;
}

/* Styling for navbar-ikonerne */
.navbar-icons {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 10px;
}

.navbar-icons a {
    text-decoration: none;
    color: black;
}

.navbar-icons img {
    width: 40px;
}

/* Styling for knapperne */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #FFD7EF;
    background-color: #000; 
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049; 
}

/* Styling for knap-container */
.button-container {
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 60px;
}

button.tilbage {
    color: #000;
    padding: 10px 20px;
    margin: 20px 400px;
    color: #FFD7EF;
}

/* Styling for bestilling */
.bestilling {
    display: flex;
    justify-content: center;
    color: #FFD7EF;
    margin: 30px;
}

a {
    display: flex;
    justify-content: center;
}
